# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.env

# Django
*.log
*.pot
*.sqlite3
db.sqlite3
media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Railway / Producción
*.env
secrets.txt
